<div class="card mb-3 shadow-sm {% if card.is_active %}border-success{% else %}border-danger{% endif %}" style="border-width: 2px;">
    <div class="card-body text-dark">
        <h4 class="card-title">{{ card.front }}</h4>
        <h4 class="card-text">{{ card.back }}</h4>
        <div class="d-flex justify-content-between mt-3">
            <form action="{% url 'cards:card_update' card.id %}" method="get">
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
            <form action="{% url 'cards:card_delete' card.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>
    </div>
</div>