{% extends 'base.html' %}
{% block title %}Список карточек{% endblock %}
{% block content %}
<h1 class="text-center">Список карточек</h1>
<div class="container card-deck">
  <div class="row">
    {% for card in cards %}
    <div class="col-md-4">
      <div class="card">
        {% include 'includes/card.html' %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<form action="{% url 'cards:card_create' %}" method="get" class="mt-3 text-center">
  <button type="submit" class="btn btn-success">Создать карточку</button>
</form>
{% endblock %}
