{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cards - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>

<body class="container">
  {% include 'includes/menu.html' %}
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>
  <footer class="text-center mt-4">
    <p>&copy; 2023 Cards Application. All rights reserved.</p>
  </footer>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</body>

</html>
